<!doctype html>
<html id="wholepage">
<div id="pagecontent">
	<head>
	<link rel="stylesheet" href="/static/css/style.css">
	</head>

	<body>
	
	<div id="header">
		<h1>Tourist Road Safety for Kids NZ</h1>
	</div>

		
		<div id="nav_horizontal">
		<ul>
		<li><a href="/">Home</a></li>
		<li><a href="/quiz-page">Quiz</a></li>

		</ul>
		

		</div>

    <section id="section">
	
	{% block content %}{% endblock %}
	
    </section>

	</body>
	
	
  
	<div id="footer">
	Copyright © Hamdog.Inc
	</div>
  
</div>
</html>