<!doctype html>
<html id="wholepage">
<div id="pagecontent">
	<head>
		<link rel="stylesheet" href="/static/css/style.css">
		<script type="text/javascript">
			var w = window.innerWidth
			|| document.documentElement.clientWidth
			|| document.body.clientWidth;
			
			if (w > 1000) {
				window.location.assign("index.html")
		</script>
	</head>
	</head>

	<body>
	
	<div id="header">
		<!-- <h1>Tourist Road Safety for Kids NZ</h1> -->
	</div> 

		
		<div id="nav_horizontal">
		<ul>
		<li><a href="/quiz-page">Quiz</a></li>

		</ul>
		

		</div>

    <section id="section">
	
	<h1>This is the Home Page for my Quiz</h1>
	<h1>To enter the quiz, click the Quiz tab above. This is only a temporary format of the site to get the website functional.</h1>

	
    </section>

	</body>
	
</div>
</html>