<!doctype html>
<html id="wholepage">
<div id="pagecontent">
	<head>
	<link rel="stylesheet" href="/static/css/style.css">
	</head>

	<body>

		<form id="user-question" action="quiz-page" method="post">
		{% for i in questions %}

			<div id="question">
				<center><input type="hidden" id="questions" value="{{ i.question }}">{{ i.question }}</center>
			</div>
			<div id="answers"> <!-- Lists all the valves in a checklist type order, when a user selects a valve the 'valve' name will have the value of the valve that he/she selected -->
				<input id="button" class="{% if active=='correct' %}active{%endif %}" class="{% if active=='incorrect' %}active{%endif %}" type="submit" name="answer" value="{{ i['answer_one'] }}"><br>
				<input id="button" class="{% if active=='correct' %}active{%endif %}" class="{% if active=='incorrect' %}active{%endif %}" type="submit" name="answer" value="{{ i['answer_two'] }}"><br>
				<input id="button" class="{% if active=='correct' %}active{%endif %}" class="{% if active=='incorrect' %}active{%endif %}" type="submit" name="answer" value="{{ i['answer_three'] }}"><br>
				<input id="button" class="{% if active=='correct' %}active{%endif %}" class="{% if active=='incorrect' %}active{%endif %}" type="submit" name="answer" value="{{ i['answer_four'] }}"><br>
			</div>
		{% endfor %}
		</form>

	</body>
	
	

  
</div>
</html>


