/* -- Whole Page -- */

#homepagecontent, #quizpagecontent {
	background-size:auto;
	height:968px;
    width: 1366px;
    margin:auto;
    box-shadow: 10px 10px 10px lightgrey;
	font-family: 'quicksand';
	font-size: 110%;

}

#homepagecontent {
	background-image:url("/static/images/hometest.gif");
}

#quizpagecontent {
	background-image:url("/static/images/quizpage.gif");
}

/* ---------- Importing the fonts and applying them to some pages ---------- */

@font-face {
	font-family: 'quicksand';
	src: url('Quicksand-Regular.otf');
}
@font-face {
	font-family: 'quicksand-bold';
	src: url('Quicksand-Bold.otf');
}

h1, h2, h3, label {
	font-family: 'quicksand';
	
}

/* ---------- Headers ----------*/

#homeheader {
	height: 52.5%;
	font-family:'quicksand-bold';
	color:white;
	font-size:150%;
}

#question {
	width:0 auto;
	text-align:center;
	height: 50%;
	padding: 20px;
	font-family:'quicksand-bold';
	color:white;
	font-size:250%;
	word-wrap: break-word;

}	


/* -- Sections that displays question and contents -- */


#answers {
	width:0 auto;
	height:600px;
	float:center;
	padding:10px;
}

#answerpageanswers {
    width: 0 auto;
    background-color:#326023;
    color: white;

    margin: 5px 0;
    border: none;
    border-radius: 8px;
	font-family: 'quicksand';
	font-size: 110%;
	float:center;
}

#section {
    width:0 auto;
	height: 40%;
	color:white;
}

/* -- Buttons -- */

#quizbutton, #answerbuttons {
    width: 100%;
    background-color:#326023;
    color: white;
    margin: 5px 0;
    border: none;
    border-radius: 8px;
    cursor: pointer;
	font-family: 'quicksand';
	font-size: 200%;
	float:center;
}

#quizbutton:hover, #answerbuttons:hover {
	background-color:#89BB64;
}

#quizbutton {
	padding:20px 55px;
}

#answerbuttons {
	padding:37.5px 0px;
}