<!doctype html>
<html>
<div id="quizpagecontent">

	<head>
		<link rel="stylesheet" href="/static/css/style.css">

	</head>

	<body>

		<form method="get" action="/quiz">

			<div id="question">
				<center><p id="questionno" style="font-size:90%;"> Question Number {{ n }} </p></center>
				<center><p> {{ q }} </p></center>
			</div>

			<div id="answers"> 
				<center><p id="answerpageanswers"> Correct: {{ a }} </p></center> <!-- gets the user answer from app.py -->
				<button  id="nextquestion" type="submit"><h1 style="font-size:180%; font-family: 'quicksand-bold';">Next</h1></button>
			</div>

		</form>

	</body>

</div>
</html>