<!doctype html>
<html>
<div id="quizpagecontent">

	<head>
		<link rel="stylesheet" href="/static/css/style.css">

	</head>

	<body>

		<form method="get" action="/quiz">

			<div id="question">
				<center><p> {{ q }} </p></center>
			</div>

			<div > 

			</div>
			<div id="answers"> 
				<center><p id="incorrectanswerpageanswers"> Your Answer: {{ a }} </p></center> <!-- gets the user answer from app.py -->
				<center><p id="answerpageanswers"> Correct Answer: {{ c }} </p></center> <!-- gets the correct answer form app.py -->
				<button  id="nextquestion" type="submit"><h1 style="font-size:180%; font-family: 'quicksand-bold';">Move to Next Question</h1></button>
			</div>

		</form>

	</body>

</div>
</html>