<!doctype html>
<html>
<div id="quizpagecontent">

	<head>
		<link rel="stylesheet" href="/static/css/style.css">

	</head>

	<body>

		<form method="get" action="/">

			<div id="question">

			</div>

			<div > 

			</div>
			<div id="answers"> 
				<center><p id="answerpageanswers"> You got {{ c }} answers correct out of 10.</p></center> <!-- gets the user answer from app.py -->
				<button  id="nextquestion" type="submit"><h1 style="font-size:180%; font-family: 'quicksand-bold';">Move to Next Question</h1></button>
			</div>

		</form>

	</body>

</div>
</html>